@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        <div>anonymous</div>
    }
    else
    {
        <dl>
            <dt>name</dt><dd>@User.Identity.Name</dd>
            @foreach(var claim in User.Claims)
            {
                <dt>@claim.Type</dt><dd>@claim.Value</dd>
            }
        </dl>
    }
</div>
